<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/collobo_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/collobo_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".Splash.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Team_Matching.AutoUploadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">

        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
        </activity>

        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
        </activity>

        <activity
            android:name=".Login.CreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" />
        <activity android:name=".Main.MemoComposeActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Login.ID_PW_Find"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Main.Portfolio_management"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Team_Matching.Project_Participation"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Fragment.Home.ContestDetailActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Team_Matching.Team_Looking_Write"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Team_Matching.Team_Write_Activity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Global.Global_Team_Looking_Developer"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Global.Global_Team_Looking_Designer"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>